* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a, button {
    outline: none;
    border: none;
}

body{
    background-color: rgb(33, 33, 33);
    color: #fff;
}

.dices{
    display: flex;
    gap: 50px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.dices .dice img{
    width: 100px;
    height: 100px;
}

.dices .dice{
    transform: scale(2);
    transition: .34s transform;
}
